<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Appointment System - Patient List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Patient Records</h1>
            
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Contact No.</th>
                            <th>Symptoms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="patientList : ${patientList}">
                            <td th:text="${patientList.patientId}"></td>
                            <td th:text="${patientList.patientName}"></td>
                            <td th:text="${patientList.patientGender}"></td>
                            <td th:text="${patientList.patientAge}"></td>
                            <td th:text="${patientList.patientContact}"></td>
                            <td th:text="${patientList.patientSymptoms}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="navigation-links">
                <a href="./" class="link">Return to Main Page</a>
            </div>
        </div>
    </div>
</body>
</html>